@{
    ViewBag.Title = "SLT_SCORE_LOG";
    Layout = "~/Views/Shared/_LayoutBody.cshtml";
    var m = DateTime.Now.Minute;
}
@section scripts{

    <script src="~/static/modules/SltStaffLog/SltStaffLog.list.tool.js?v=@m"></script>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">水利厅信用分人员信息同步结果</h3>
    </div>
    <div class="panel-body">
        <div id="search-collapse" class="collapse" style="">
            <div class="accordion-inner">
                <form id="searchForm" class="form form-horizontal well clearfix" action="" method="post">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <label class="label-item single-overflow pull-left" title="姓名">姓名</label>
                        <input id="NAME" name="NAME" class=" form-control" type="text" value="" maxlength="257" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <label class="label-item single-overflow pull-left" title="企业信用社代码">企业信用社代码</label>
                        <input id="ORGCODE" name="ORGCODE" class=" form-control" type="text" value="" maxlength="257" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <label class="label-item single-overflow pull-left" title="身份证号">身份证号</label>
                        <input id="IDCARD" name="IDCARD" class=" form-control" type="text" value="" maxlength="257" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <label class="label-item single-overflow pull-left" title="同步日期(yyyyMMdd)">同步日期</label>
                        <input id="SYNCDATA" name="SYNCDATA" class=" form-control" type="text" value="@(DateTime.Today.AddDays(-1).ToString("yyyyMMdd"))" maxlength="257" placeholder="@(DateTime.Today.AddDays(-1).ToString("yyyyMMdd"))" />
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <label class="label-item single-overflow pull-left" title="同步时间：">同步时间：</label>
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group date" id="BeginTime" style="left: -10px;">
                                    <input type="text" name="BeginTime" class="form-control">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="input-group date" id="EndTime" style="left: -10px;">
                                    <input type="text" name="EndTime" class="form-control">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div style="margin-top:26px">
                            <a id="search" class="btn btn-primary btn-rounded  btn-bordered btn-sm"><i class="fa fa-search"></i> 查询</a>
                            <a id="reset" class="btn btn-primary btn-rounded  btn-bordered btn-sm"><i class="fa fa-refresh"></i> 重置</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="toolbar" style="display:none">
            <button id="add" class="btn btn-primary" onclick="add()">
                <i class="glyphicon glyphicon-plus"></i> 新建
            </button>
            <button id="edit" class="btn btn-success" disabled onclick="edit()">
                <i class="glyphicon glyphicon-edit"></i> 修改
            </button>
            <button id="remove" class="btn btn-danger" disabled onclick="deleteAll()">
                <i class="glyphicon glyphicon-remove"></i> 删除
            </button>
            <button id="btnImport" class="btn btn-info"><i class="fa fa-folder-open-o"></i> 导入</button>
            <button id="export" class="btn btn-warning">
                <i class="fa fa-file-excel-o"></i> 导出
            </button>
            <button id="view" class="btn btn-default" disabled onclick="view()">
                <i class="fa fa-search-plus"></i> 查看
            </button>
        </div>
        <table id="mainTable" data-toolbar="#toolbar"></table>
        <ul id="context-menu" class="dropdown-menu">
            <li data-item="view"><a>查看</a></li>
            <li data-item="edit"><a>编辑</a></li>
            <li data-item="delete"><a>删除</a></li>
            <li data-item="action1"><a>取消</a></li>
        </ul>
    </div>
</div>