<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <section name="JobSettings" type="GGZY.SchedulerService.JobFactory.JobSettings,GGZY.SchedulerService" />
  </configSections>
  <JobSettings>
    <add type="GGZY.Scheduler.LD13Service.Main, GGZY.Scheduler.LD13Service" cron="0 0 4 * * ?" triggerInstantly="false" remark="线索分析-量身定做-中标人得分明显偏高" />
    <add type="GGZY.Scheduler.LD12Service.Main, GGZY.Scheduler.LD12Service" cron="0 0 4 * * ?" triggerInstantly="false" remark="线索分析-量身定做-分值设置大于规定" />
    <add type="GGZY.Scheduler.LD11Service.Main, GGZY.Scheduler.LD11Service" cron="0 0 4 * * ?" triggerInstantly="false" remark="线索分析-量身定做-特级资质要求" />
    <add type="GGZY.Scheduler.SupervisionService.Main, GGZY.Scheduler.SupervisionService" cron="0 0 4 * * ?" triggerInstantly="false" remark="监督平台监督点服务" />
    <add type="GGZY.Scheduler.GB01Service.Main, GGZY.Scheduler.GB01Service" cron="0 0 4 * * ?" triggerInstantly="true" remark="规避招标-规避GB6-金额异常" />
    <add type="GGZY.Scheduler.Clue02Service.MainService, GGZY.Scheduler.Clue02Service" cron="0 0 4 * * ?" triggerInstantly="false" remark="线索分析-投标企业在同一代理项目多次中标" />
    <add type="GGZY.Scheduler.Clue01Service.Main, GGZY.Scheduler.Clue01Service" cron="0 0 3 * * ?" triggerInstantly="false" remark="线索分析-投标企业在同一招标人项目多次中标" />
    <add type="GGZY.Scheduler.HardwareService.Main, GGZY.Scheduler.HardwareService" cron="0 0 0 1 * ?" triggerInstantly="false" remark="围串标行为分析-同一项目多加企业投标文件软硬件信息相同" />
    <add type="GGZY.Scheduler.WGCJ01Service.Main, GGZY.Scheduler.WGCJ01Service" cron="0 0 3 * * ?" triggerInstantly="false" remark="违规拆解-依法必须招标项目多标段有一标段金额少于400万元" />
    <add type="GGZY.Scheduler.AfcProjectSupervise.Main, GGZY.Scheduler.AfcProjectSupervise" cron="0 0 4 * * ?" triggerInstantly="false" remark="监察机关-纪委-智能监察-招标计划处理时限不可超过15个工作日" />
    <add type="GGZY.Scheduler.ZxtsSupervise.Main, GGZY.Scheduler.ZxtsSupervise" cron="0 0 4 * * ?" triggerInstantly="false" remark="监察机关-纪委-智能监察-无延期情况下处理时限不超过30个工作日（如延期则另算）" />
    <add type="GGZY.Scheduler.BeianService.Main, GGZY.Scheduler.BeianService" cron="0 0 4 * * ?" triggerInstantly="false" remark="监察机关-纪委-智能监察-项目备案时限监察" />
  </JobSettings>
  <connectionStrings>
    <add name="ggzyjh" connectionString="data source=114.115.208.210/orcl;user id=DZJYPT;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <add name="ggzyfw" connectionString="data source=114.115.208.210/orcl;user id=DZJYPT;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <add name="ggzyjd" connectionString="data source=114.115.208.210/orcl;user id=GGZYJD;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <!--<add name="default" connectionString="server=114.115.162.77;user id=monitor; password=1qaz2wsx; Port=8097;database=devplus;Charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>