<?xml version="1.0" encoding="utf-8" ?>
<settings>

<!--  ~1~业务数据库@1@
  ~1~<add key="Main" value="data source=192.168.116.106/orcl;user id=DZJYPT;password=strong;Unicode=True;"/>@1@
  <add key="Main" value="data source=192.168.116.106/orcl;user id=DZJYPT;password=strong;Unicode=True;"/>

  ~1~配置数据库@1@
  <add key="ConfigMap" value="data source=192.168.116.111;database=Config2_FWPT;user id=sa;password=slgc@2013;"/>

  ~1~接口火车采集器 数据库@1@
  <add key="ConfigHc" value="data source=192.168.116.111;database=CaiJi_FWPT;user id=sa;password=slgc@2013;"/>

  ~1~接口记录日志数据库@1@
  <add key="InterfaceMap" value="data source=192.168.116.111;database=Interface_FWPT;user id=sa;password=slgc@2013;"/>


  ~1~招标采购网历史数据库@1@
  <add key="FJBID" value="data source=192.168.116.106/orcl;user id=ZBCG;password=strong;Unicode=True;"/>-->
    <!--业务数据库-->
  <!--<add key="Main" value="data source=192.168.116.106/orcl;user id=DZJYPT;password=strong;Unicode=True;"/>-->
  <add key="Main" value="data source=114.115.208.210/orcl;user id=DZJYPT;password=strong;Unicode=True;"/>

  <!--行政监督平台数据库-->
  <add key="Main_XZJD" value="data source=114.115.208.210/orcl;user id=GGZYJD;password=strong;"/>
  
  <!--配置数据库-->
  <add key="ConfigMap" value="data source=114.115.200.143;database=Config2_FWPT;user id=sa;password=Strong9889;"/>

  <!--接口火车采集器 数据库-->
  <add key="ConfigHc" value="data source=114.115.200.143;database=CaiJi_FWPT;user id=sa;password=Strong9889;"/>

  <!--接口记录日志数据库-->
  <add key="InterfaceMap" value="data source=114.115.200.143;database=Interface_FWPT;user id=sa;password=Strong9889;"/>


  <!--招标采购网历史数据库-->
  <add key="FJBID" value="data source=192.168.116.106/orcl;user id=ZBCG;password=strong;Unicode=True;"/>

  
</settings>
