<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <properties>
    <property resource="Config/_ConStr.config"/>
  </properties>

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  <providers resource="Config/providers.config"/>
  <!-- Database connection information -->
  <database>
    <provider name="oracleClient1.0"/>
    <dataSource name="Default" connectionString="${Main}"/>
  </database>

  <sqlMaps>
    <sqlMap resource="Config/BaseXmlForOracle.xml" />
    <sqlMap resource="Config/CommonXML.xml" />
    <sqlMap resource="Config/DAO.xml" />

    <sqlMap resource="Config/T_ATTACHMENT.xml" />
    
  </sqlMaps>
</sqlMapConfig>