<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="LogServiceSections" type="System.Configuration.NameValueSectionHandler" />
    <section name="PlatFormSections" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="ggzyjh" connectionString="data source=114.115.208.210/orcl;user id=DZJYPT;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <add name="ggzyfw" connectionString="data source=114.115.208.210/orcl;user id=DZJYPT;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <add name="ggzyjd" connectionString="data source=114.115.208.210/orcl;user id=GGZYJD;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <!--<add name="default" connectionString="server=114.115.162.77;user id=monitor; password=1qaz2wsx; Port=8097;database=devplus;Charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <!--平台相关代码信息配置-->
  <PlatFormSections>
    <!--18位 交易服务系统标识码-->
    <add key="PUB_SERVICE_PLAT_CODE" value="xxxxxxxxxxxxxxxxxx" />
    <!--18位统一社会信用代码-->
    <add key="SOCIAL_CREDIT_CODE" value="111111111111111111" />
    <!--8位交易系统标识码-->
    <add key="PLATFORM_CODE" value="111111122222229998" />
  </PlatFormSections>

  <!--统一日志服务配置-->
  <LogServiceSections>
    <add key="appid" value="FJDZJG2" />
    <add key="api" value="http://114.115.162.77:8060/api/logs" />
  </LogServiceSections>

  <appSettings>
    <!--闽政通实名认证登录配置信息-->
    <add key="mzt_code" value="2c9bbe6975c2a76a0175f8dea818047f2c9bbe6975c2a76a" />
    <add key="mzt_check_url" value="https://mztapp.fujian.gov.cn:8304/dataset/UnifiedController/checkLoginStatus.do" />
    <add key="mzt_check_back_url" value="http://localhost:53393/jd/mztaccount/checkback" />
    <add key="mzt_login_url" value="https://mztapp.fujian.gov.cn:8304/dataset/UnifiedController/goLogin.do" />
    <add key="mzt_login_back_url" value="http://localhost:53393/jd/mztaccount/loginback" />
    <add key="mzt_logout_url" value="https://mztapp.fujian.gov.cn:8304/dataset/UnifiedController/goUserCenter.do" />
    <add key="mzt_logout_back_url" value="http://localhost:53393/jd/mztaccount/logoutback" />
    <add key="mzt_register_url" value="https://mztapp.fujian.gov.cn:8304/dataset/UnifiedController/goRegist.do" />
    <add key="mzt_register_back_url" value="http://localhost:53393/jd/mztaccount/registerback" />
    <add key="mzt_usercenter_url" value="https://mztapp.fujian.gov.cn:8304/dataset/UnifiedController/goUserCenter.do" />
    <add key="mzt_getuser_url" value="https://mztapp.fujian.gov.cn:8304/dataset/AppSerController/invokeservice.do" />
    <add key="mzt_front_url" value="http://114.115.162.77/Oauth/admin/#/bind" />

    <add key="hcp_get_url" value="http://api.zwfw.fujian.gov.cn:71/api-gateway/gateway/96hyvzxl/wailian/webservice/getSaveEvaluationUrl?wsdl" />
    <add key="hcp_token_url" value="http://api.zwfw.fujian.gov.cn:71/api-gateway/gateway/get-token" />
    <add key="hcp_public_key" value="c13aeaacf3db44cd992d4feff557c7b1" />
    <add key="hcp_private_key" value="5fe863633c93471eb77532c8141e9791" />
    <add key="hcp_sys_no" value="1F5DEB7572BA6C7752" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="MenuMethod"/>
      <remove name="AuthRuleMethod"/>
      <remove name="AuthGroupMethod"/>
      <!--<add name="HtmlFileHandler" path="*.html" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <!--<add name="CustomFileHandler" path="*.*" verb="POST" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <!--<add name="MenuMethod" path="menu/method/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode"   />
      <add name="AuthRuleMethod" path="auth_rule/method/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode"   />
      <add name="AuthGroupMethod" path="auth_group/method/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode"   />-->

    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Words" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.0.0" newVersion="14.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
