<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ggzyjh" connectionString="data source=114.115.208.210/orcl;user id=DZJYPT;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <add name="ggzyfw" connectionString="data source=114.115.208.210/orcl;user id=DZJYPT;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <add name="ggzyjd" connectionString="data source=114.115.208.210/orcl;user id=GGZYJD;password=strong;Unicode=True;" providerName="System.Data.OracleClient" />
    <!--<add name="default" connectionString="server=114.115.162.77;user id=monitor; password=1qaz2wsx; Port=8097;database=devplus;Charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
</configuration>