@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>后台首页</title>
</head>
<body>
<div>
      <a href="/CMS/admin/index.html#adminIndex" target="_blank">后台功能</a>
</div>
</body>
</html>