

<div class="tab-pane fade active in" id="b01d4ed2-9fa9-4868-b5ae-9c571f3f2766">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#" class="dropdown-toggle"><i class="fa fa-th-list"></i><span>水利厅数据同步</span><i class="fa fa-chevron-circle-right drop-icon"></i></a>
            <ul class="submenu" style="display: none;">
                <li><a class="J_menuItem" href="@Url.Action("List","SltScoreLog")" data-index="4"><i></i><span> 水利厅信用分</span></a></li>
                <li><a class="J_menuItem" href="@Url.Action("List","SltStaffLog")" data-index="5"><i></i><span> 人员信息</span></a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="tab-pane fade " id="0e702cb9-433c-4195-a31d-13e8338fab50">
    <ul class="nav nav-pills nav-stacked">
        <li><a class="J_menuItem" href="/MgrProcess/Index?" data-index="43"><i class="fa fa-stack-overflow"></i><span>流程管理</span></a></li>
    </ul>
</div>