<li class="dropdown color-picker">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span><i class="fa fa-gears"></i></span>
    </a>
    <ul class="dropdown-menu pull-right animated fadeIn" role="menu" style="width:250px; padding-left: 10px;">
        <li class="padder-h-xs">
            <div class="theme-icons">
                <label data-theme="white_blue" class="ng-star-inserted" style="background:#3ca2e0;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(255, 255, 255);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="white_green" class="ng-star-inserted" style="background: #27ae60;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(255, 255, 255);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="white_red" class="ng-star-inserted" style="background:  #D24D57;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(255, 255, 255);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="white_purple" class="ng-star-inserted" style="background:  #957BBD;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(255, 255, 255);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="white_midnight-blue" class="ng-star-inserted" style="background:  #2c3e50;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(255, 255, 255);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="white_lynch" class="ng-star-inserted" style="background: #6C7A89;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(255, 255, 255);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="black_blue" class="ng-star-inserted" style="background:#3ca2e0;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(64, 64, 64);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="black_green" class="ng-star-inserted" style="background: #27ae60;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(64, 64, 64);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="black_red" class="ng-star-inserted" style="background:  #D24D57;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(64, 64, 64);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="black_purple" class="ng-star-inserted" style="background:  #957BBD;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(64, 64, 64);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="black_midnight-blue" class="ng-star-inserted" style="background:  #2c3e50;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(64, 64, 64);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
                <label data-theme="black_lynch" class="ng-star-inserted" style="background: #6C7A89;">
                    <div class="areas">
                        <span class="nav" style="background: rgb(64, 64, 64);"></span>
                        <span class="con" style="background: rgb(245, 247, 250);"></span>
                    </div>
                </label>
            </div>
        </li>
    </ul>
</li>