@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>404哟~</title>
    <link href="~/static/common/css/Error404.css" rel="stylesheet" />
</head>
<body style="background-color:#FFFFFF">
    <div class="demo">
        <p><span>4</span><span>0</span><span>4</span></p>
        <p>该页面不存在(´･ω･`)</p>
    </div>
    @*<div style="display: none">
        @Model.ActionName
    </div>
    <div style="display: none">
        @Model.ControllerName
    </div>
    <div style="display: none">
        @Model.Exception
    </div>*@
</body>
</html>
