@{
    Layout = null;
}
@model string

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>对象不存在</title>
    <link href="~/static/common/css/Error404.css" rel="stylesheet" />
</head>
<body style="background-color:#FFFFFF">
<div class="demo">
    <p><span>OBJECT</span><span>&nbsp;NOT&nbsp;</span><span>FOUND</span></p>
    <p>@Model (´･ω･`)</p>
</div>
</body>
</html>
